# dependencies
node_modules/

# env files (IMPORTANT)
.env
.env.local
.env.development
.env.production

venv/
*.log
__pycache__/
.env

# logs
npm-debug.log*

# build output
dist/
build/

# OS files
.DS_Store